## Ignore Visual Studio temp files, build results, and logs
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/
Logs/
wwwroot/logs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Ignore user secrets and environment settings
appsettings.Development.json
appsettings.Local.json

## Ignore OS files
Thumbs.db
ehthumbs.db
Desktop.ini
